
{%if user.is_authenticated and user.profil.role == "admin" %}
  {%include 'admin/adminSidebare.html'%}
{%else%}
  {%include 'user/userSidebare.html'%}

{%endif%}

    <!-- Contenue Principale -->
    <div class="content">
      {%include 'user/navbar.html'%}
        <!-- Fin de la barre de navigation -->

        {%load static%}
       <!-- entete -->
        <div class="container-fluid mt-3" style="border: none;">
          <h2 class=""> Effectuez un Retrait de Commande</h2>
          <p>Faire le retrait en toute simplicité.</p>
        </div>

        

        <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
          <form action="{% url 'actionRetrait' commande_a_retirer.idcom %}" method="post">
            {%csrf_token%}
              <div class="container-fluid d-flex flex-column align-items-center"> 
                  <div class="mb-3 w-50">
                      <label for="exampleFormControlInput1" class="form-label">Nom client</label>
                      <input type="text" class="form-control" name="idclient" id="exampleFormControlInput1" value="{{ commande_a_retirer.idclient.nom }} {{ commande_a_retirer.idclient.prenom }}" disabled>
                  </div>
        
                  <div class="mb-3 w-50">
                      <label for="exampleFormControlInput1" class="form-label">Montant commande</label>
                      <input type="text" class="form-control" name="montantcom" id="exampleFormControlInput1" value="{{ commande_a_retirer.montantcom }}" disabled>
                  </div>
        
        
                  <div class="mb-3 w-50">
                      <label for="dateInput" class="form-label">Date retrait</label>
                      <input type="date" class="form-control" id="dateInput" name="dateretrait">
                  </div>
        
                  <div class="mb-3 w-50">
                    <label for="exampleCombobox" class="form-label">Statut Commande</label>
                      <select class="form-select" id="exampleCombobox" name="statut">
                        <option value="" selected disabled>-- Sélectionner Statut --</option>
                                <!-- <option value="En Attente">En Cours </option> -->
                        <option value="Livrée">Livrée </option>  
                      </select>
                  </div>
          
                  
                  <div class="mb-3 w-50 mt-2">
                    <button type="submit" class="btn btn-primary w-100" style="background-color: #0594D0;">Effectuer</button>
                  </div>
                </div>
            </form>
        </div>
        <!-- Fin contenue de la page -->

    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>

   
    