
{%if user.is_authenticated and user.profil.role == "admin" %}
  {%include 'admin/adminSidebare.html'%}
{%else%}
  {%include 'user/userSidebare.html'%}

{%endif%}

    
    <!-- Contenue Principale -->
    <div class="content">
        {%include 'user/navbar.html'%}
        {%load static%}
        <div class="container-fluid mt-3" style="border: none;">
          <h2 class="">Details de Facture</h2>
          <p>Toutes les informations sur Vos facture.</p>
        </div>
        
        {%csrf_token%}
        <div class="container-fluid d-flex flex-column align-items-center">
            
              <div class="container"style="border-radius: 0%;">
                <div class="header">
                    <h1>N°:{{ facture.idfacture }}</h1>
                    <p>Date : {{ details.date_facture|date:"d/m/Y H:i" }}</p>
                </div>
            
                <table class="details">
                    <tr>
                        <td><strong>Client</strong></td>
                        <td>{{ details.commande.idclient.nom_prenom }} </td>
                    </tr>
                    <tr>
                        <td><strong>Commande</strong></td>
                        <td>{{ details.commande.idcom }}</td>
                    </tr>
                </table>
            
                <h3>Tenues Commandées</h3>
                <table class="tenues">
                    <thead>
                        <tr>
                            <th>Modèle</th>
                            <th>Quantité</th>
                            <th>Prix Unitaire</th>
                            <th>Montant Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tenue in details.tenues %}
                        <tr>
                            <td>{{ tenue.modele }}</td>
                            <td>{{ tenue.qte }}</td>
                            <td>{{ tenue.prix }} FCFA</td>
                            <td>{{ tenue.montant }} FCFA</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <div class="footer">
                    <h3>Total : {{ details.total_commande }} FCFA</h3>
                </div>
            </div>
        </div>

     
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>

