
{%if user.is_authenticated and user.profil.role == "admin" %}
  {%include 'admin/adminSidebare.html'%}
{%else%}
  {%include 'user/userSidebare.html'%}

{%endif%}


    
    <!-- Contenue Principale -->
    <div class="content">
        {%include 'user/navbar.html'%}
       {%load static%}

       <!-- entete -->
      <div class="container-fluid mt-3" style="border: none;">
        <h2>Commandes en Cours de Conception</h2>
        <p>Vous verrez ici les commandes qui n'ont pas encore été retirées ou Livrées.</p>
      </div>

      <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
        <div class="container-fluid mt-4" style="border-radius: 0%;">
          <form class="d-flex ms-auto mb-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
            <button class="btn btn-warning" type="submit">Recherche</button>
          </form>
          <h4 class="mt-3 d-inline me-4">
            <a class="nav-link active d-inline" aria-current="page" href="{% url 'retraitCommande'%}">Retrait</a>
            <i class="fa fa-bookmark" aria-hidden="true"></i>
          </h4>

          <h4 class="mt-3 d-inline">
            <a class="nav-link active d-inline" aria-current="page" href="{% url 'HistoriqueCommande'%}">Historiques</a>
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </h4>

          
          <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
            <table class="table table-striped mt-3">
              <thead class="sticky-header">
                <tr>
                  
                  <th scope="col">Nom Client</th>
                  <th scope="col">Date Depot</th>
                  <th scope="col">Rendez Vous</th>
                  <th scope="col">Crée le</th>
                  <th scope="col">Voir Details</th>
                  <th scope="col">Ajouter Tenue</th>
                  <th scope="col">Modifier</th>
                  <th scope="col">Supprimer</th>
                </tr>
              </thead>
              <tbody>
                {% for command in commandes %}
                  <tr>
                    <td>{{ command.idclient.nom }} {{ command.idclient.prenom }} </td>
                    <td>{{ command.debutcom }}</td>
                    <td>{{ command.fincom }}</td>

                    <td>{{ command.creation|date:"d/m/Y" }}</td>
                    <td>
                      <a href="{% url 'infosCommande' command.idcom %}">
                        <button type="submit" class="btn btn-info"> Voir Details <i class="fa fa-newspaper"></i></button> <!-- Icône de modification -->
                        
                      </a>
                    </td>
                    <td>
                      <a href="{% url 'tenue' command.idcom %}">
                        <button type="submit" class="btn btn-success"> Ajouter Tenue <i class="fa fa-plus"></i></button> <!-- Icône de modification -->
                        
                      </a>
                    </td>
                    <td>
                      <a href="{% url 'modifier_commande' command.idcom %}">
                        <button type="submit" class="btn btn-warning"> Modifier la Commande<i class="fa fa-pencil"></i></button> <!-- Icône de modification -->
                        
                      </a>
                    </td>
                    <td>
                      <a href="{% url 'supprimer_commande' command.idcom %}" class="text-danger" onclick="return confirm('Voulez-vous vraiment supprimer ce cette commande ?');">
                        <button type="submit" class="btn btn-danger"> Supprimer Commande <i class="fa fa-trash"></i></button> <!-- Icône de modification -->

                      </a>
                    </td>
                    
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="7" class="text-center">Aucune Commande.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

              
      </div>
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>