
    {%include 'user/userSidebare.html'%}
    
    <!-- Contenue Principale -->
    <div class="content">
        {%include 'user/navbar.html'%}
        <!-- Fin de la barre de navigation -->
       {%load static%}
      
        <!-- entete -->
        <div class="container-fluid mt-3" style="border: none;">
          <h2 class="">Commande Non Facturée</h2>
          <p>Ces commandes ici presentes non pas encore été facturées,vous pouvez generer la facture à tout moment.</p>
        </div>


      <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
          <form class="d-flex ms-auto" role="search">
            <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
            <button class="btn btn-warning" type="submit">Recherche</button>
          </form>
      
          
              <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-striped mt-3">
                  <thead class="sticky-header">
                    <tr>
                     
                      <th scope="col">Nom Client</th>
                      <th scope="col">ID commande</th>
                      <th scope="col">Date Commande</th>
                      <th scope="col">Montant Total</th>
                      <th scope="col">Générez Facture</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for command in commande_nonfacturee %}
                      <tr>
                        <td>{{ command.idclient.nom}} {{ command.idclient.prenom}}</td>
                        <td>{{ command.idcom}}</td>
                        <td>{{ command.creation}}</td>
                        <td>{{ command.montantcom }}</td>
                        <td>
                          <a href="{% url 'editefacture' command.idcom %}">
                            <button type="submit" class="btn btn-info"><i class="fa fa-plus-circle"></i>Créer Facture</button>
                          </a>
                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="5" class="text-center">Aucune Commande non Facturée.</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
               
        

              
      </div>
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>

