
    {%include 'user/userSidebare.html'%}
    
    <!-- Contenue Principale -->
    <div class="content">
        {%include 'user/navbar.html'%}
           {%load static%}    <!-- Navbar -->
        
        <!-- Fin de la barre de navigation -->

        <div class="container-fluid mt-3" style="border: none;">
          <h2 class="">Commande Facturée</h2>
          <p>Ici vous trouverez toutes les commandes qui ont été facturées.</p>
        </div>


        {%csrf_token%}
        <div class="container mt-2" style="border-radius: 0%;">
              
              <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
                <button class="btn btn-warning" type="submit">Recherche</button>
              </form>
            
                <h4 class="mt-3">
                  <a class="nav-link active d-inline" aria-current="page" href="{% url 'createfacture'%}"> Ajouter Facture</a>
                  <i class="fa fa-plus-circle d-inline" aria-hidden="true"></i>
                </h4>
                  <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                    <table class="table table-striped mt-3">
                      <thead class="sticky-header">
                        <tr>
                          <th scope="col">Nom Client</th>
                          <th scope="col">N°Facture</th>
                          <th scope="col">Montant Total</th>
                          <th scope="col">Date Facture</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for facture in facture %}
                          <tr>
                            <td>{{ facture.idclient.nom }} {{ facture.idclient.prenom }}</td>
                            <td>{{ facture.idfacture }}</td>
                            <td>{{ facture.idcom.montantcom }}</td>
                            <td>{{ facture.date_facture }}</td>
                            <td>
                              <a href="{% url 'Aff_Facture' facture.idfacture %}">
                                <button type="submit" class="btn btn-info"><i class="fa fa-newspaper"></i> Details</button>
                              </a>
                            </td>
      
                            <td>
                              <a href="{% url 'modifierFacture' facture.idfacture %}">
                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>Modifier</button>
                              </a>
                            </td>
      
                            <td>
                              <a href="{% url 'supprimer_facture' facture.idfacture %}">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>Supprimer</button>
                              </a>
                            </td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td colspan="5" class="text-center">Aucune Commande Facturée.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>

      
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>
