
{%if user.is_authenticated and user.profil.role == "admin" %}
  {%include 'admin/adminSidebare.html'%}
{%else%}
  {%include 'user/userSidebare.html'%}

{%endif%}
    
    <!-- Contenue Principale -->
    <div class="content">
      {%include 'user/navbar.html'%}
      {%load static%}    
        <!-- Fin de la barre de navigation -->

        <!-- entete -->
        <div class="container-fluid mt-3" style="border: none;">
          <h2>Tenues deja Retirées</h2>
          <p>Vous verrez ici les tenues qui n'ont pas encore été retirées ou Livrées.</p>
        </div>

      <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
        {%csrf_token%} 
          <div class="container-fluid mt-4">
            <form class="d-flex ms-auto mb-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-warning" type="submit">Recherche</button>
            </form>
          
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
              <table class="table table-striped mt-3">
                <thead class="sticky-header">
                  <tr>
                    
                    <th scope="col">Nom Client</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">Qté</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Modele</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Details</th>
                    <th scope="col">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tenu in tenues %}
                    <tr>
                      <td>{{ tenu.idcom.idclient.nom_prenom }}</td>
                      <td>{{ tenu.prix  }}</td>
                      <td>{{ tenu.qte  }}</td>
                      <td>{{ tenu.montant  }}</td>
                      <td>{{ tenu.modele  }}</td>
                      <td>{{ tenu.idcom.statut  }}</td>
                      <td>{{ tenu.etat_tenue  }}</td>
                      
                      <td>
                        <a href="{% url 'infosTenue' tenu.idtenu %}">
                          <button type="submit" class="btn btn-warning"> Voir Details <i class="fa fa-newspaper"></i></button>
                        </a>
                      </td>
                      
                      <td>
                        <a href="{% url 'supprimer_tenue' tenu.idtenu %}" class="text-danger" onclick="return confirm('Voulez-vous vraiment supprime cette Tenue ?');">
                          <button type="submit" class="btn btn-danger"> Supprimer Tenue<i class="fa fa-trash"></i></button> <!-- Icône de modification -->

                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="7" class="text-center">Aucune Tenue.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

      </div>
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>
