
    {%include 'user/userSidebare.html'%}
    
    <!-- Contenue Principale -->
    <div class="content">
        {%include 'user/navbar.html'%}
        
        {%load static%}    <!-- Fin de la barre de navigation -->

       <!-- entete -->
      <div class="container-fluid mt-3" style="border: none;">
        <h2>Associez l'image de Votre Modele à Votre tenue</h2>
        <p>Associez directement l'image de votre d'un modele à votre tenue.</p>
      </div>

      <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
        {%csrf_token%}
        
              <form action="{% url 'image' tenue_instance.idtenu %}" method="post" enctype="multipart/form-data">

                <div class="container-fluid d-flex flex-column align-items-center">
                  <h2 class="text-center">Inserez l'image de la tenue</h2>

                  {%csrf_token%}
                  <div class="mb-3 w-50">
                    <label for="exampleCombobox" class="form-label">Nom Client</label>
                    <input type="text" class="form-control" name="" id="exampleFormControlInput1" value="{{tenue_instance.idcom.idclient.nom}} {{tenue_instance.idcom.idclient.prenom}}" disabled>
                  </div>

                  <div class="mb-3 w-50">
                    <label for="exampleCombobox" class="form-label">Modele</label>
                    <input type="text" class="form-control" name="modele" id="exampleFormControlInput1" value="{{tenue_instance.modele}}" disabled>
                  </div>

                  <div class="mb-3 w-50">
                      <label for="exampleFormControlInput1" class="form-label">Image Modele </label>
                      <input type="file" class="form-control" id="exampleFormControlInput1" name="photos" placeholder="Inserez la l'image de la tenue">
                  </div>

                  <!-- Boutons Annuler et Suivant rapprochés -->
                  <div class="d-flex justify-content-center w-50 mt-2">
                      <!-- permet d'ajouter de l'espace entre les boutons -->
                      <button type="submit" class="btn btn-primary w-100" style="background-color: #0594D0;">Validez</button>

                  </div>
              </div>
        </form>

      </div>
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>
