
{%if user.is_authenticated and user.profil.role == "admin" %}
  {%include 'admin/adminSidebare.html'%}
{%else%}
  {%include 'user/userSidebare.html'%}

{%endif%}

    
    <!-- Contenue Principale -->
    <div class="content">
      {%include 'user/navbar.html'%}
      {%load static%}     
      
        <!-- Fin de la barre de navigation -->

      <!-- entete -->
      <div class="container-fluid mt-3" style="border: none;">
        <h2 class="">Modification d'une Commande</h2>
        <p>Vous avez la possibilité de modifier les caracteristiques d'une commande.</p>
      </div>

      {%include 'admin/messages.html'%}
      <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
        {%csrf_token%}
           
        <form action="{% url 'modifier_commande' idcom=commande.idcom %}" method="post">
          {%csrf_token%}
            <div class="container-fluid d-flex flex-column align-items-center">
                
                  <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">Nom Prenom</label>
                    <input type="text" class="form-control" name="idclient" id="exampleFormControlInput1" value="{{ commande.idclient.nom_prenom }}" disabled>
                  </div>

                  <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">ID commande</label>
                    <input type="text" class="form-control" name="idcom" id="exampleFormControlInput1" value="{{ commande.idcom }}" disabled>
                  </div>

                  <div class="mb-3 w-50">
                      <label for="dateInput" class="form-label">Date Rendez Vous</label>
                      <input type="date" class="form-control" id="dateInput" name="fincom" value="{{commande.fincom}}">
                  </div>
                  
                   
                  <div class="mb-3 w-50">
                    <label for="exampleCombobox" class="form-label">Payement</label>
                      <select class="form-select" id="exampleCombobox" name="methodePayement">
                        <option value="" selected disabled>-- Payement:{{commande.methodePayement}} --</option>
                        <option value="Espece"> Espece</option>
                        <option value="Wave"> Wave</option>
                        <option value="Orange Money">Orange Money</option>  
                        <option value="MTN Money">MTN Money</option>  
                        <option value="MOOV Money">MOOV Money</option>  
                      </select>
                  </div>
                  <!-- Boutons Annuler et Suivant rapprochés -->
                  <div class="d-flex justify-content-center w-50 mt-2">
                      <!-- permet d'ajouter de l'espace entre les boutons -->
                      <!-- <a href="{% url 'commandlist'%}" class="btn btn-secondary me-5">Abandonner</a> -->
                      <button type="submit" class="btn btn-primary w-100" style="background-color: #0594D0;">Appliquez</button>
                  </div>
            </div>
        </form>
        
        
      </div>
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>
