
{%include 'user/userSidebare.html'%}
    
    <!-- Contenue Principale -->
    <div class="content">
      {%include 'user/navbar.html'%}
       
      {%load static%}     <!-- Fin de la barre de navigation -->


       <!-- entete -->
      <div class="container-fluid mt-3" style="border: none;">
        <h2 class="">Retrait de Commande</h2>
        <p>Effectuez le retrait d'une Commande</p>
      </div>

      <!-- Contenue de la page -->
      <div class="container mt-4" style="border-radius: 0%;">
        {%csrf_token%}
                        <!-- Liste des Clients et des éléments -->
          <div class="container-fluid mt-4">
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-warning" type="submit">Recherche</button>
            </form>
            
            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
              <table class="table table-striped mt-3">
                <thead class="sticky-header">
                  <tr>
                    
                    <th scope="col">Nom Client</th>
                    <th scope="col">Date Depot</th>
                    <th scope="col">Date Retrait</th>
                    <th scope="col">Date d'Ajout</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Retrait Commande</th>
                    <th scope="col">Voir Details</th>
                    <!-- <th scope="col">Ajouter Tenue</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for command in commandes %}
                    <tr>
                      <td>{{ command.idclient.nom }} {{ command.idclient.prenom }} </td>
                      <td>{{ command.debutcom }}</td>
                      <td>{{ command.fincom }}</td>
                      <td>{{ command.creation|date:"d/m/Y" }}</td>
                      <td>{{ command.statut }}</td>
                      <td>
                        <a href="{% url 'actionRetrait' command.idcom %}">
                          <button type="submit" class="btn btn-success"> <i class="fa fa-arrow-left"></i> Retrait</button> <!-- Icône de modification -->
                        </a>
                      </td>
                      
                      <td>
                        <a href="{% url 'infosCommande' command.idcom %}">
                          <button type="submit" class="btn btn-info"> <i class="fa fa-newspaper"></i> Voir Details</button> <!-- Icône de modification -->
                        </a>
                      </td>
                      
                      
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="7" class="text-center">Aucune Commande.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          
          </div>

      </div>
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>

