{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">


    <title>commande</title>
</head>
<body>
    <!-- <script src="bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="{% url 'home'%}">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client
                  <i class="fa fa-users" aria-hidden="true"></i>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues
                  <i class="fa fa-child" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album
                  <i class="fa fa-folder" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

            <!-- Affichage du message d'erreur -->
            {% include 'message.html'%}

            <!-- Du javaScript pour creer de l'animation -->
            <script src="{% static 'bootstrap/js/message.js'%}">  </script>
            
               <!-- ms-auto permet de mettre un bloc d'element à l'extreme droit  -->
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Fin de la barre de navigation -->

       <!-- Affichage de message apres avoir enregistré une commande -->
       
    <form action="{% url 'commande'%}" method="post">
      {%csrf_token%}
        <div class="container-fluid d-flex flex-column align-items-center">
          <h2 class="text-center">Enregistrez la Commande</h2>
          
          <div class="mb-3 w-50">
              <label for="exampleCombobox" class="form-label">ID Client:</label>
              <select class="form-select" id="exampleCombobox" name="idclient">
                <option value="" selected disabled>-- Sélectionner un client-</option>
                  {% for client in clients %}
                    <option value="{{ client.idclient }}">{{ client.idclient }}</option>
                  {% endfor %}
              </select>
          </div>


          <div class="mb-3 w-50">
              <label for="dateInput" class="form-label">Date Commande</label>
              <input type="date" class="form-control" id="dateInput" name="debutcom">
          </div>

          <div class="mb-3 w-50">
              <label for="dateInput" class="form-label">Date Rendez Vous</label>
              <input type="date" class="form-control" id="dateInput" name="fincom">
          </div>

          <!-- Boutons Annuler et Suivant rapprochés -->
          <div class="d-flex justify-content-center w-50 mt-2">
              <!-- permet d'ajouter de l'espace entre les boutons -->
              <button type="reset" class="btn btn-secondary me-5">Annuler</button>
              <button type="submit" class="btn btn-primary">Suivant</button>
          </div>
      </div>
    </form>
    
    

    <!-- Liste des Clients et des elements -->
    <div class="container mt-4">
      <h2 class="text-center">Liste des commandes</h2>
      <div class="table-responsive mb-3" style="max-height: 150px; overflow-y: auto;"> <!-- Ajout du conteneur scrollable -->
      <table class="table table-striped mt-3">
          <thead class="sticky-header">
              <tr>
                  <th scope="col">ID Commande</th>
                  <th scope="col">ID client</th>
                  <th scope="col">Date de Depôt</th>
                  <th scope="col">Rendez Vous</th>
                  <th scope="col">Montant Total</th>
                  <th scope="col">Nombre de Tenue</th>
                  <th scope="col">Statut</th>
                  <th scope="col">Date d'ajout</th>
              </tr>
          </thead>
          <tbody>
              {% for commande in commandes %}
                  <tr>
                      <td>{{ commande.idcom }}</td>
                      <td>{{ commande.idclient }}</td>
                      <td>{{ commande.debutcom }}</td>
                      <td>{{ commande.fincom }}</td>
                      <td>{{ commande.montantcom }}</td>
                      <td>{{ commande.nombre_tenue }}</td>
                      <td>{{ commande.statut }}</td>
                      <td>{{ commande.creation|date:"d/m/Y H:i" }}</td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="5" class="text-center">Aucune Commande enregistrée.</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
</body>
</html>