{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

    <title>Facture</title>
</head>
<body>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="{% url 'home'%}">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client
                  <i class="fa fa-users" aria-hidden="true"></i>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues
                  <i class="fa fa-child" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album
                  <i class="fa fa-folder" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>
              
            </ul>

             <!-- Affichage du message d'erreur -->
             

             <!-- Du javaScript pour creer de l'animation -->
             <script src="{% static 'bootstrap/js/message.js'%}">  </script>
             
          </div>
        </div>
      </nav>


       <!-- Liste des Clients et des éléments -->
       <div class="container mt-2">
        {% include 'message.html'%}
        <h3 class="text-center">Commande Non Facturée</h3>
        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
          <button class="btn btn-warning" type="submit">Recherche</button>
        </form>
    
        
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
              <table class="table table-striped mt-3">
                <thead class="sticky-header">
                  <tr>
                   
                    <th scope="col">Nom Client</th>
                    <th scope="col">ID commande</th>
                    <th scope="col">Date Commande</th>
                    <th scope="col">Montant Total</th>
                    <th scope="col">Générez Facture</th>
                  </tr>
                </thead>
                <tbody>
                  {% for command in commande_nonfacturee %}
                    <tr>
                      <td>{{ command.idclient.nom}} {{ command.idclient.prenom}}</td>
                      <td>{{ command.idcom}}</td>
                      <td>{{ command.creation}}</td>
                      <td>{{ command.montantcom }}</td>
                      <td>
                        <a href="{% url 'editefacture' command.idcom %}">
                          <button type="submit" class="btn btn-info">Créer Facture</button>
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5" class="text-center">Aucune Commande non Facturée.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    </body>
</html>
      

