<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <title>Accueil</title>
</head>
<body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="#">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques</a>
              </li>

            </ul>
               <!-- ms-auto permet de mettre un bloc d'element à l'extreme droit  -->
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
        </div>
      </nav>


      <!-- Fin de la barre de navigation -->

     
      <div class="container mt-3">
        <div class="row justify-content-center">
            <!-- Première carte -->
            <div class="col-sm-3 mb-3">
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'img/client.png' %}" class="card-img-top" alt="client_Image" style="height: 100px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Commande</h5>
                        <a href="{% url 'client' %}" class="btn btn-success">Debutez</a>
                    </div>
                </div>
            </div>

            <!-- Deuxième carte -->
            <div class="col-sm-3 mb-3">
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'img/2emecarte.png' %}" class="card-img-top" alt="client_Image" style="height:100px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Facture & Reçu</h5>
                        <a href="{% url 'facture'%}" class="btn btn-success">Edition Facture</a>
                    </div>
                </div>
            </div>

            <!-- Troisième carte -->
            <div class="col-sm-3 mb-3">
                <div class="card" style="width: 12rem;">
                  <img src="{% static 'img/facture.png' %}" class="card-img-top" alt="client_Image" style="height: 100px; object-fit: cover;">

                    <div class="card-body">
                        <h5 class="card-title">Vente</h5>
                  
                        <a href="#" class="btn btn-success">Voir les Ventes</a>
                    </div>
                </div>
            </div>
            <!-- Quatrième carte -->
            <div class="col-sm-3 mb-3">
                <div class="card" style="width: 12rem;">
                  <img src="{% static 'img/stat.png' %}" class="card-img-top" alt="client_Image" style="height: 100px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Statistique</h5>
                        <a href="#" class="btn btn-success">Voir les Stats</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Liste des Clients et des elements -->
        <!-- Tableau des clients enregistrés -->
    <div class="container mt-4">
      <h2 class="text-center">Commandes Récentes</h2>
      <div class="table-responsive" style="max-height: 180px; overflow-y: auto;"> <!-- Ajout du conteneur scrollable -->
      <table class="table table-striped mt-3">
          <thead class="sticky-header">
              <tr>
                <th scope="col">ID Commande</th>
                <th scope="col">ID client</th>
                <th scope="col">Date de Depôt</th>
                <th scope="col">Rendez Vous</th>
                <th scope="col">Montant</th>
                <th scope="col">Date d'ajout</th>
              </tr>
          </thead>
          <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.idcom }}</td>
                <td>{{ commande.idclient.idclient}}</td>
                <td>{{ commande.debutcom }}</td>
                <td>{{ commande.fincom }}</td>
                <td>{{ commande.montantcom }}</td>
                <td>{{ commande.creation|date:"d/m/Y H:i" }}</td>
            </tr>
              {% empty %}
                  <tr>
                      <td colspan="5" class="text-center">Aucune commande Enreigistrée.</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</body>
</html>