
{%load static%}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos Tenue</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style_Facture.css' %}">
    <link href="{% static 'bootstrap/css/accueil.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

  </head>
    
  <body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column" style="background-color: #E4E4E4;">
      <h5 class="text-center py-3 border-bottom " style="background-color: #0594D0;">Menu</h5>
      <a href="{% url 'home'%}"><i class="fa fa-home"></i>Accueil</a>
      <a href="#dashboard"><i class="fa fa-dashboard"></i>Tableau de Bord</a>
      <a href="#dashboard"><i class="fa fa-users"></i>Utilisateurs</a>
      <a href="#logout" class="mt-auto"> <i class="fa fa-sign-out"></i>Déconnexion</a>
    </div>

    
    <!-- Contenue Principale -->
    <div class="content">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light  border-bottom" style="background-color:#0594D0">
          <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">Master</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-2">
                <li class="nav-item">
                  <!-- <a class="nav-link" href="#client">Agents</a> -->
                  <a class="nav-link text-light" href="{% url 'clientlist'%}"><i class="fa fa-users"></i> Client</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'commandlist'%}"><i class="fa fa-id-card"></i> Commande</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'listeTenue'%}"><i class="fa fa-child"></i> Tenues</a>
                </li>

  
                <li class="nav-item">
                  <a class="nav-link  text-light" href="{% url 'album'%}"><i class="fa fa-folder"></i> Album</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link  text-light" href="{% url 'facture'%}"><i class="fa fa-paper"></i> Facture</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'statistique'%}"><i class="fa fa-bar-chart"></i> Statistiques</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Fin de la barre de navigation -->
      
        
       <!-- entete -->
      <div class="container-fluid mt-3" style="border: none;">
        <h2 class="">Detail de la Tenue</h2>
        <p>Ici vous pouvez voir toutes les details d'une tenue</p>
      </div>

      <!-- Contenue de la page -->
      <!-- <div class="container mt-4" style="border-radius: 0%;"> -->
        {%csrf_token%}
        <div class="container-fluid d-flex flex-column align-items-center">
        
          <div class="container" style="border-radius: 0%;">
            <div class="header">
                <h1>N°: {{ details.tenue_infos.idtenu }}</h1>
                <p>Date : {{ details.tenue_infos.ajout|date:"d/m/Y H:i" }}</p>
            </div>
        
            <table class="details">
                <tr>
                    <td><strong>Client</strong></td>
                    <td>{{ details.tenue_infos.idcom.idclient.nom }} {{ details.tenue_infos.idcom.idclient.prenom }}</td>
                </tr>
                <tr>
                    <td><strong>Commande</strong></td>
                    <td>{{ details.tenue_infos.idcom.idcom }}</td>
                    <td>Date Commande: {{ details.tenue_infos.idcom.debutcom }}</td>
                    <td>Date RDV: {{ details.tenue_infos.idcom.fincom }}</td>
                    <td>Date Retrait: {{ details.tenue_infos.idcom.dateretrait }}</td>
                    <td>Statut: {{ details.tenue_infos.idcom.statut }}</td>
                </tr>
            </table>
        
            <h3>Tenues Commandées</h3>
            <table class="tenues">
                <thead>
                    <tr>
                        <th>Modèle</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Montant</th>
                        <th>Reste</th>
                        <th>Etat Tenue</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>{{ details.tenue_infos.modele }}</td>
                        <td>{{ details.tenue_infos.qte }}</td>
                        <td>{{ details.tenue_infos.prix }} FCFA</td>
                        <td>{{ details.tenue_infos.montant }} FCFA</td>
                        <td>{{ details.tenue_infos.reste }} FCFA</td>
                        <td>{{ details.tenue_infos.etat_tenue }} FCFA</td>
                    </tr>
                  
                </tbody>
            </table>
        
            <div class="footer">
                <h3><td>Montant Commande: {{ details.tenue_infos.idcom.montantcom }}</td></h3>
                <!-- <h3><img src="{{ details.tenue_infos.photos.url }}" class="card-img-top" alt="Image" style="height: 150px; object-fit: cover;"> </h3>  -->

            </div>
          </div>
        </div>

      <!-- </div> -->
      <!-- Fin contenue de la page -->


    
    </div>
    <!-- Fin Contenue Principale -->

  </body>
</html>
