
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    

    <title>Liste Tenue</title>
</head>
<body>
    <!-- <script src="bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="{% url 'home'%}">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client
                  <i class="fa fa-users" aria-hidden="true"></i>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues
                  <i class="fa fa-child" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album
                  <i class="fa fa-folder" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>

            </ul>

            <!-- affiche de message  -->
            {% include 'message.html'%}
            <!-- Du javaScript pour creer de l'animation -->
            <script src="{% static 'bootstrap/js/message.js'%}">  </script>
          </div>
        </div>
      </nav>

      <!-- Liste des Clients et des éléments -->
<div class="container mt-4">
  <form class="d-flex ms-auto" role="search">
    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
    <button class="btn btn-warning" type="submit">Recherche</button>
  </form>
  <h2 class="text-center">Liste des Tenues</h2>
  <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
    <table class="table table-striped mt-3">
      <thead class="sticky-header">
        <tr>
          
          <th scope="col">Nom Client</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">Montant</th>
          <th scope="col">Statut</th>
          <th scope="col">Details</th>
          <th scope="col">Associer</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        {% for tenu in tenues %}
          <tr>
            <td>{{ tenu.idcom.idclient.nom }} {{ tenu.idcom.idclient.prenom }}</td>
            <td>{{ tenu.prix  }}</td>
            <td>{{ tenu.montant  }}</td>
            <td>{{ tenu.etat_tenue  }}</td>

            <td>
              <a href="{% url 'image' tenu.idtenu %}">
                <button type="submit" class="btn btn-success"> Associer Image</button> <!-- Icône de modification -->

              </a>
            </td>
            
            <td>
              <a href="{% url 'infosTenue' tenu.idtenu %}">
                <button type="submit" class="btn btn-warning"> Voir Details</button> <!-- Icône de modification -->

              </a>
            </td>
            <td>
              <a href="{% url 'modifier_tenue' tenu.idtenu %}">
                <button type="submit" class="btn btn-info"> Modifier Tenue</button> <!-- Icône de modification -->

              </a>
            </td>
            <td>
              <a href="{% url 'supprimer_tenue' tenu.idtenu %}" class="text-danger" onclick="return confirm('Voulez-vous vraiment supprime cette Tenue ?');">
                <button type="submit" class="btn btn-danger"> Supprimer Tenue</button> <!-- Icône de modification -->

              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7" class="text-center">Aucune Tenue.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
</div>
  
</body>
</html>