{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

    <title>Ajout image à la commande</title>
</head>
<body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="{% url 'home'%}">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client
                  <i class="fa fa-users" aria-hidden="true"></i>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues
                  <i class="fa fa-child" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album
                  <i class="fa fa-folder" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>
            </ul>


            
       <!-- Affichage du message d'erreur -->
       {% include 'message.html'%}

       <!-- Du javaScript pour creer de l'animation -->
       <script src="{% static 'bootstrap/js/message.js'%}">  </script>

               <!-- ms-auto permet de mettre un bloc d'element à l'extreme droit  -->
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
        </div>
      </nav>


      <!-- Fin de la barre de navigation -->


      <form action="{% url 'modifierImage' idmg=infosimageModif.idmg %}" method="post" enctype="multipart/form-data">

              <div class="container-fluid d-flex flex-column align-items-center">
                <h2 class="text-center">Changez l'image de la tenue</h2>

                {%csrf_token%}
                <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">ID IMAGE</label>
                    <input type="text" class="form-control" name="idmg" id="exampleFormControlInput1" value="{{ infosimageModif.idmg }}" disabled>
                  </div>
    
                  <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">ID Tenue</label>
                    <input type="text" class="form-control" name="idtenu" id="exampleFormControlInput1" value="{{ infosimageModif.idtenu }}" disabled>
                  </div>

                  <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">ID Com</label>
                    <input type="text" class="form-control" name="idcom" id="exampleFormControlInput1" value="{{ infosimageModif.idtenu.idcom }}" disabled>
                  </div>

                  <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">ID Com</label>
                    <input type="text" class="form-control" name="prix" id="exampleFormControlInput1" value="{{ infosimageModif.idtenu.idcom.prix }}" disabled>
                  </div>

                <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label">Image Modele </label>
                    <input type="file" class="form-control" id="exampleFormControlInput1" name="photos" placeholder="Inserez la l'image de la tenue">
                </div>

                <!-- Boutons Annuler et Suivant rapprochés -->
                <div class="d-flex justify-content-center w-50 mt-2">
                    <!-- permet d'ajouter de l'espace entre les boutons -->
                    <button type="reset" class="btn btn-secondary me-5">Annuler</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
      </form>
      
    <!-- Liste des Clients et des elements -->
    <div class="container mt-4">
      <h2 class="text-center">Liste des tenues et leurs images</h2>
      <div class="table-responsive" style="max-height: 250px; overflow-y: auto;"> <!-- Ajout du conteneur scrollable -->
      <table class="table table-striped mt-3">
          <thead class="sticky-header">
              <tr>
                  <th scope="col">ID Image</th>
                  <th scope="col">ID Tenue</th>
                  <th scope="col">ID Commande</th>
                  <th scope="col">ID Client</th>
                  <th scope="col">Image</th>
                  <th scope="col">Modele</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Date d'ajout</th>
              </tr>
          </thead>
          <tbody>
              {% for imagemodele in imagemodeles %}
                  <tr>
                      <td>{{ imagemodele.idmg }}</td>
                      <td>{{ imagemodele.idtenu.idtenu }}</td>
                      <td>{{ imagemodele.idtenu.idcom.idcom }}</td>
                      <td>{{ imagemodele.idtenu.idcom.idclient.idclient }}</td>
                      <td>
                        {% if imagemodele.photos %}
                            <img src="{{ imagemodele.photos.url }}" alt="Image de la tenue" style="width: 100px; height: auto;">
                        {% else %}
                            <span>Pas d'image</span>
                        {% endif %}
                    </td>

                      <td>{{ imagemodele.idtenu.modele }}</td>
                      <td>{{ imagemodele.idtenu.prix }}</td>
                      <td>{{ imagemodele.ajout|date:"d/m/Y H:i" }}</td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="5" class="text-center">Aucune Image enregistrée enregistrée.</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
</body>
</html>