{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">


    <title>Operation Commande</title>
</head>
<body>
    <!-- <script src="bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="{% url 'home'%}">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client
                  <i class="fa fa-users" aria-hidden="true"></i>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues
                  <i class="fa fa-child" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album
                  <i class="fa fa-folder" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

            <!-- Affichage du message d'erreur -->
            {% include 'message.html'%}

            <!-- Du javaScript pour creer de l'animation -->
            <script src="{% static 'bootstrap/js/message.js'%}">  </script>
            
               <!-- ms-auto permet de mettre un bloc d'element à l'extreme droit  -->
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Fin de la barre de navigation -->

       <!-- Affichage de message apres avoir enregistré une commande -->
       
    <form action="{% url 'modifier_commande' idcom=commande.idcom %}" method="post">
      {%csrf_token%}
        <div class="container-fluid d-flex flex-column align-items-center">
              <h2 class="text-center">Modification Commande</h2>
            
              <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label">ID client</label>
                <input type="text" class="form-control" name="idclient" id="exampleFormControlInput1" value="{{ commande.idclient.nom }} {{ commande.idclient.prenom }}" disabled>
              </div>

              <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label">ID commande</label>
                <input type="text" class="form-control" name="idcom" id="exampleFormControlInput1" value="{{ commande.idcom }}" disabled>
              </div>

              <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label">Montant commande</label>
                <input type="text" class="form-control" name="montantcom" id="exampleFormControlInput1" value="{{ commande.montantcom }}" disabled>
              </div>


              <div class="mb-3 w-50">
                  <label for="dateInput" class="form-label">Date Commande</label>
                  <input type="date" class="form-control" id="dateInput" name="debutcom" value="{{commande.debutcom}}">
              </div>

              <div class="mb-3 w-50">
                  <label for="dateInput" class="form-label">Date Rendez Vous</label>
                  <input type="date" class="form-control" id="dateInput" name="fincom" value="{{commande.fincom}}">
              </div>

              
              <div class="mb-3 w-50">
                <label for="exampleCombobox" class="form-label">Statut Commande</label>
                <select class="form-select" id="exampleCombobox" name="statut">
                      <option value="" selected disabled>-- Sélectionner Statut --</option>
                      <option value="En Attente">En Cours </option>
                      <option value="Livrée">Livrée </option>
                    
                </select>
            </div>

              <!-- Boutons Annuler et Suivant rapprochés -->
              <div class="d-flex justify-content-center w-50 mt-2">
                  <!-- permet d'ajouter de l'espace entre les boutons -->
                  <a href="{% url 'commandlist'%}" class="btn btn-secondary me-5">Abandonner</a>
                  <button type="submit" class="btn btn-primary">Appliquer</button>
              </div>
        </div>
    </form>
    