{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/tableau.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">


    <title>Tenue</title>
</head>
<body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">StaneApp</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="{% url 'home'%}">MENU PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'clientlist'%}">Client
                  <i class="fa fa-users" aria-hidden="true"></i>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'commandlist'%}">Commande
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'facture'%}">Facture
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listeTenue'%}">Tenues
                  <i class="fa fa-child" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'album'%}">Album
                  <i class="fa fa-folder" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistique'%}">Statistiques
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>
            </ul>


          <!-- Affichage du message de succes -->
            {% include 'message.html'%}

            <!-- Du javaScript pour creer de l'animation -->
            <script src="{% static 'bootstrap/js/message.js'%}">  </script>


            
              <!-- ms-auto permet de mettre un bloc d'element à l'extreme droit  -->
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Fin de la barre de navigation -->

      <form  action="{% url 'tenue' commands.idcom%}" method="post">

            <div class="container-fluid d-flex flex-column align-items-center" style="max-height: 500px; overflow-y: auto;">
              <h2 class="text-center">Ajout de Tenues</h2>
              {%csrf_token%}
              <div class="mb-3 w-50">
                <label for="exampleCombobox" class="form-label">Nom du client:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="idcom"value="{{commands.idclient.nom}} {{commands.idclient.prenom}}" disabled>
              </div>

              <div class="mb-3 w-50">
                  <label for="exampleFormControlInput1" class="form-label">Prix Unitaire</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="prix" placeholder="10000">
              </div>

              <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label">Quantité</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="qte" placeholder="20">
              </div>


              <div class="mb-3 w-50">
                  <label for="exampleFormControlInput1" class="form-label">Avance</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="avance" placeholder="5000">
              </div>



              <div class="mb-3 w-50">
                <label for="exampleCombobox" class="form-label">Model:</label>
                <select class="form-select" id="exampleCombobox" name="modeltenue">
                      <option value="" selected disabled>-- Sélectionner un modèle --</option>
                      <option value="Costume Femme">Costume Femme </option>
                      <option value="Costume Homme">Costume Homme </option>
                      <option value="Costume ecole">Costume ecole </option>
                      <option value="Chemise Manche Longue Pantalon">Chemise Manche Longue+ pantanlon </option>
                      <option value="Chemise Manche Longue simple">Chemise Manche Longue simple </option>
                      <option value="Chemise Manche courte Pantalon">Chemise Manche Courte+ pantanlon </option>
                      <option value="Chemise Manche courte simple">Chemise Manche Courte simple </option>
                      <option value="Pantalon simple">Pantalon simple </option>
                      <option value="culotte simple">culotte simple </option>
                      <option value="Robe compose">Robe Composée </option>
                      <option value="Robe simple">Robe simple </option>
                      <option value="Tunique homme">Tunique homme</option>
                      <option value="Tunique femme">Tunique Femme </option>
                      <option value="Tunique enfant">Tunique enfant </option>
                      <option value="Mesticaine">Mesticaine </option>
                      <option value="Taille Haute">Taille haute </option>
                      <option value="Jupe simple">Jupe simple </option>
                      <option value="Jupe haut">Jupe + haut </option>
                      <option value="Toge">Toge</option>
                </select>
            </div>

              <div class="mb-3 w-50">
                  <label for="exampleFormControlInput1" class="form-label">Description</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="description" placeholder="Manche bleue Bouton rouge" style="text-transform: capitalize;">
              </div>

            
              <!-- Boutons Annuler et Suivant rapprochés -->
              <div class="d-flex justify-content-center w-50 mt-2">
                  <!-- permet d'ajouter de l'espace entre les boutons -->
                  <button type="reset" class="btn btn-secondary me-5">Annuler</button>
                  <button type="submit" class="btn btn-primary">Suivant</button>
              </div>
          </div>
    </form>
</body>
</html>